<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  
    <display-name>Admin Dashboard</display-name>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>tech.project.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>

    <!-- Session Timeout (Optional) -->
    <session-config>
        <session-timeout>30</session-timeout> <!-- 30 minutes -->
    </session-config>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>/views/SignUp.jsp</welcome-file>
    </welcome-file-list>

</web-app>

    

